# ke npm
@ocean:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@bk:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@ke:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@lianjia:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@cd:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@jjp:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@growth:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@fates:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@heimdall:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@ke-pagego:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@lease:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@zhouyk:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/

# binary mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass
disturl=https://registry.npmmirror.com/dist
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=http://npmmirror.com/mirrors/fsevents/
puppeteer_download_host=https://npmmirror.com/mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass # node-sass 二进制包镜像
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli # sentry cli 镜像

# default registry
registry=https://registry.npmmirror.com/

# pnpm options
shamefully-hoist=true
strict-peer-dependencies=false
lockfile-include-tarball-url=true

public-hoist-pattern[]=pdfjs-dist
